<h1>Welcome <%= session[:me].name.capitalize %></h1>
<table border="2" cellpadding="10" cellspacing="5">
  <% session[:board].grid.values.each_slice(2).map do |row| %>
    <tr>
      <% row.each do |content| %>
          <td><%= content.view_display %></td>
        <%end%>
    </tr>
  <%end%>
</table>



<form action='/shoot' method="post">
   <input type="text" name="shot">
   <br>
  <input type="submit" value="Submit">
</form>

<%= session[:ship].inspect %>

